*{
    margin: 0;
    padding: 0;
}
$color_1: #5a5a5a;
$color_2: #1E90FF;
$botones:green;

@import "header";
@import "footer";
@import "galeria";
@import "contacto";

main {
    min-height: 80vh;
}
.miBotonC{

    color: white;
    border: 1px solid $color_2;
    transition: background-color 0.5s ease-in-out;
    
   
   
        &:hover {
		background-color: $color_2;
  }
  
    }

.carousel {
	margin-bottom: 0;
  }

  .carousel-caption {
	bottom: 3rem;
	z-index: 10;
  }
  

  .carousel-item {
	height: 32rem;
  }
  .carousel-item > img {
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;
	height: 32rem;
  }

  .card{
    transition: .5s;
    
    &:hover{
      transform: translateY(-10px);
    }
  }
